/* ==========================================*/
/* Móvil */
@media (max-width: 767px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    }
    
    body {
        background-image: url('../img/cebe.jpeg'); /* Ruta de la imagen de fondo */
        backdrop-filter: blur(5px); /* Difumina el fondo */
        display: flex;
        height: 100vh;
        color: #333;
        overflow-x: hidden; /* Evita desplazamiento horizontal */
    }

    .container {
        display: flex;
        width: 100%;
        flex-direction: row; /* Alinea la barra lateral y el contenido en una fila */
    }

    /* Main Content Styles */
    .main-content {
        margin-left: 39%; /* Ajusta el margen izquierdo para que el contenido esté a la derecha de la barra lateral */
        padding: 40px;
        width: 61%; /* Ajusta el ancho del contenido principal */
        overflow-y: auto; /* Permite desplazamiento si el contenido es demasiado largo */
        transition: margin-left 0.3s ease; /* Transición suave cuando la barra lateral se despliega */
    }

    main h2 {
        font-size: 1.5rem;
        margin-bottom: 20px;
        color: #ffffff;
    }

    form {
        backdrop-filter: blur(5px); /* Difumina el fondo */
        display: flex;
        flex-direction: column;
    }

    form input {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 1rem;
    }

    form button {
        padding: 10px;
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: background 0.3s;
    }

    form button:hover {
        background-color: #555;
    }

    section {
        margin-bottom: 40px;
    }

    /* Notificación */
    .notification {
        display: none;
        position: fixed;
        top: 20px;
        right: 10px; /* Mueve la notificación al lado derecho */
        background-color: #4CAF50; /* Color verde para éxito */
        color: white;
        padding: 16px;
        border-radius: 5px;
        z-index: 8000;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        font-size: 18px;
        width: calc(61% - 20px); /* Ocupa el ancho del contenido principal menos 20px de padding */
    }

    .notification.show {
        display: block;
    }
}
