/* ==========================================*/
/* Móvil */
@media (max-width: 767px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    }
    
    body {
        background-color: #f9f9f9;
        display: flex;
        height: 100vh;
        color: #333;
        overflow-x: hidden; /* Evita el desplazamiento horizontal */
    }

    .container {
        display: flex;
        width: 100%;
        flex-direction: row; /* Alinea la barra lateral y el contenido en una fila */
    }


    /* Main Content Styles */
    .main-content {
        margin-left: 39%; /* Ajusta el margen izquierdo para que el contenido esté a la derecha de la barra lateral */
        padding: 40px;
        background-color: #fff;
        width: 61%; /* Ajusta el ancho del contenido principal para que ocupe el espacio restante */
        overflow-y: auto; /* Permite desplazamiento si el contenido es demasiado largo */
        transition: margin-left 0.3s ease; /* Transición suave para el margen izquierdo */
    }

    main h2 {
        font-size: 1.5rem;
        margin-bottom: 20px;
        color: #333;
    }

    form {
        width: 100%; /* Ajusta el ancho del formulario para que ocupe todo el espacio disponible */
        max-width: 500px; /* Ajusta el ancho máximo del formulario */
        display: flex;
        flex-direction: column;
    }

    form input,
    form select {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 1rem;
    }

    form button {
        padding: 10px;
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: background 0.3s;
    }

    form button:hover {
        background-color: #555;
    }

    section {
        margin-bottom: 40px;
    }

    /* Notificación */
    .notification {
        display: none;
        position: fixed;
        top: 20px;
        right: 10px; /* Mueve la notificación al lado derecho */
        background-color: #4CAF50; /* Color verde para éxito */
        color: white;
        padding: 16px;
        border-radius: 5px;
        z-index: 8000;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        font-size: 18px;
        width: calc(61% - 20px); /* Ocupa el ancho del contenido principal menos 20px de padding */
    }
    
    .notification.error {
        background-color: #f44336; /* Color rojo para error */
    }

    .notification.show {
        display: block;
    }

       /* Estilos para la sección de asignación */
       #asignacion p {
        font-size: 1.2rem;
        margin-bottom: 15px;
        color: #333;
    }

    #estudianteSeleccionado,
    #cursoSeleccionado{
        font-weight: bold;
        color: #555;
    }

/* Estilo para la tabla */
    table {
        width: 100%;
        border-collapse: collapse; /* Colapsa los bordes de las celdas para que no haya espacio entre ellos */
        margin: 40px 0; /* Agrega espacio arriba y abajo de la tabla */
    }

    /* Estilo para las cabeceras de la tabla */
    th {
        background-color: #f4f4f4; /* Color de fondo para las cabeceras */
        color: #333; /* Color del texto */
        padding: 10px; /* Espacio interno en las celdas de cabecera */
        border-bottom: 2px solid #ddd; /* Línea debajo de las cabeceras */
    }

    /* Estilo para las celdas de la tabla */
    td {
        padding: 10px; /* Espacio interno en las celdas */
        border-bottom: 1px solid #ddd; /* Línea debajo de cada celda */
    }

    /* Estilo para las filas alternas */
    tr:nth-child(even) {
        background-color: #f9f9f9; /* Color de fondo para las filas alternas */
    }

    /* Estilo para las filas al pasar el ratón sobre ellas */
    tr:hover {
        background-color: #f1f1f1; /* Color de fondo cuando el ratón pasa sobre la fila */
    }
}
