/* ==========================================*/
/* PC */
@media (min-width: 991px) {
    /* Reset de márgenes y paddings para asegurar consistencia */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Arial', sans-serif;
        background-color: #ffffff; /* Color de fondo suave */
    }

    form {
        margin-top:  -950px;
        flex-direction: column;
    }

    .perfil-info {
        display: flex;
        margin-bottom: 20px;
    }

    .perfil-foto{
        width: 50%;
        margin-left: 500px;
    }

    .perfil-datos {
        width: 50%;
        margin-left: -700px;
           }

    .perfil-foto label {
        margin-bottom: 10px;
    }

    .perfil-foto input[type="file"] {
        width: 100%;
        margin-bottom: 10px;
    }
    .profile-pic {
        width: 250px; /* Fija el ancho de la imagen */
        height: 250px; /* Fija la altura de la imagen */
        object-fit: cover; /* Asegura que la imagen se ajuste dentro del cuadro manteniendo el aspecto */
        border-radius: 50%; /* Hace la imagen circular si es necesario */
        display: block;
        margin: 0 auto; /* Centra la imagen */
        margin-left: 10px;
    }
    .perfil-datos label {
        color: #4e5d6c;
        margin-bottom: 10px;
    }

    .perfil-datos input {
        width: 50%;
        height: 50px;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    /* Estilos para el botón de actualizar */
    .actualizarBtn {
        padding: 10px;
        background-color: #000000; /* Color del botón */
        color: white;
        border: none;
        border-radius: 5px;
        margin-left: 1000px;
        cursor: pointer;
        width: 140px; /* Ancho específico para el botón de actualizar */
        height: 60px;
        transition: background-color 0.3s;
    }

    .actualizarBtn:hover {
        background-color: #383736; /* Color del botón al pasar el cursor */
    }

    /* Estilos para los botones de editar */
    .editarBtn {
        padding: 15px;
        background-color: #000000; /* Color de los botones de editar */
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 70px;
        margin-left: 20px;
        transition: background-color 0.3s;
    }

    .editarBtn:hover {
        background-color: #383736; /* Color del botón al pasar el cursor */
    }

    .labelfoto{
        font-size: 30px;
    }
    
    .notification {
        display: none;
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #4CAF50; /* Color verde para éxito */
        color: white;
        padding: 16px;
        border-radius: 5px;
        z-index: 1000;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        font-size: 18px;
    }
    .notification.show {
        display: block;
    }

}

