/* ==========================================*/
/* PC */
@media (min-width: 991px) {
     /* Sidebar Styles */
     .sidebar {
        width: 250px;
        background-color: #ffffff;
        border-right: 1px solid #ddd;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
    }

    .logo-section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo-img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

    .logo-section h2 {
        font-size: 1.5rem;
        font-weight: bold;
        color: #333;
    }

    .divider {
        width: 100%;
        height: 2px;
        background-color: #000;
        margin-top: -490px;
    }

    .menu{
        margin-top: -510px;
    }

    .menu ul {
        list-style: none;
    }

    .menu ul li {
        margin: 20px 0;
    }

    .menu ul li a {
        text-decoration: none;
        color: #333;
        font-size: 1rem;
        padding: 10px;
        display: block;
        border-radius: 5px;
        transition: background 0.3s;
    }

    .menu ul li a:hover {
        background-color: #333;
        color: #fff;
    }

    .logout {
        text-align: center;
        margin-top: 30px;
    }

    .logout a {
        text-decoration: none;
        color: #fff;
        background-color: #333;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 1rem;
        transition: background 0.3s;
    }

    .logout a:hover {
        background-color: #555;
    }

}