/* ==========================================*/
/* PC */
@media (min-width: 991px) {
    /* General Styles */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    }

    body {
        background-image: url('../img/cebe.jpeg'); /* Ruta de la imagen de fondo */
        backdrop-filter: blur(5px); /* Difumina el fondo */
        display: flex;
        height: 100vh;
        color: #ffffff;
    }

    .container {
        display: flex;
        width: 100%;
    }

    /* Main Content Placeholder */
    .main-content {
        flex-grow: 1;
        padding: 40px;
    }

    main h2 {
        font-size: 1.5rem;
        margin-bottom: 20px;
        color: #ffffff;
    }

    main p {
        font-size: 1rem;
        margin-bottom: 20px;
    }


}