@media (max-width: 767px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    }

    body {
        background-image: url('../../img/cebe.jpeg');
        backdrop-filter: blur(5px);
        display: flex;
        flex-direction: column; /* Colocar los elementos uno debajo del otro */
        height: 100vh;
        color: #ffffff;
    }

    .anuncio{
        font-size: 15px;
    }
    
    .form-container{
        margin-left: 130px;
    }

    form {
        width: 60%; /* Reducir el ancho del formulario para que se ajuste a la pantalla */
        margin: 50px auto 0; /* Centrar el formulario horizontalmente */
        display: flex;
        flex-direction: column;
    }

    form input {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 1rem;
    }

    .role-container {
        display: flex;
        flex-direction: column; /* Colocar los elementos del rol en una columna */
        gap: 10px;
    }

    .role-container input {
        width: 100%; /* Asegurarse de que el input ocupe todo el ancho del contenedor */
    }

    form select {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 1rem;
    }

    form button {
        padding: 10px;
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: background 0.3s;
    }

    form button:hover {
        background-color: #555;
    }

    section {
        margin-bottom: 20px;
    }

    .anuncio {
        color: black;
        margin-top: 20px;
        margin-left: 0; /* Eliminar el margen izquierdo para móviles */
    }

    textarea {
        width: 100%;
        padding: 10px;
        font-size: 14px;
        border: 1px solid #000000;
        border-radius: 4px;
        margin-bottom: 20px;
        resize: none;
    }

    input[type="submit"] {
        background-color: #ffffff;
        color: #000000;
        border: 2px solid #000000;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        width: 100%;
        border-radius: 4px;
        transition: background-color 0.3s, color 0.3s;
    }

    input[type="submit"]:hover {
        background-color: #000000;
        color: #ffffff;
    }

    .notification {
        display: none;
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        border-radius: 5px;
        z-index: 1000;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        font-size: 18px;
    }

    .notification.show {
        display: block;
    }
}