/* ==========================================*/
/* PC */
@media (min-width: 991px) {
    /* Sidebar Styles */
    .sidebar {
       height: 1000px;
       width: 250px;
       background-color: #ffffff;
       border-right: 3px solid #000000;
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       padding: 20px;
   }

   .a{
    text-decoration: none;
   }

   .logo-section {
       display: flex;
       align-items: center;
       justify-content: center;
       margin-bottom: 20px; /* Espacio entre logo y divisor */
   }

   .logo-img {
       width: 40px;
       height: 40px;
       margin-right: 10px;
   }

   .logo-section h2 {
       font-size: 1.5rem;
       font-weight: bold;
       color: #333;
   }

   .divider {
       width: 100%;
       height: 2px;
       background-color: #000;
       margin-bottom: 20px; /* Espacio entre divisor y menú */
   }

   .menu {
       margin-top: 0; /* Eliminar márgenes negativos */
   }

   .menu ul {
       list-style: none;
       padding: 0;
   }

   .menu ul li {
       margin: 20px 0;
   }

   .menu ul li a {
       display: flex;
       align-items: center;
       text-decoration: none;
       color: #333;
       font-size: 1rem;
       padding: 10px;
       border-radius: 5px;
       transition: background 0.3s;
   }

   .menu ul li a:hover {
       background-color: #333;
       color: #fff;
   }

   .menu-icon {
       width: 20px; /* Ajusta el tamaño de la imagen */
       height: 20px; /* Asegura que todas las imágenes tengan el mismo tamaño */
       margin-right: 10px; /* Espacio entre la imagen y el texto */
   }
}